.appview-container.st-emotion-cache-1wrcr25.ea3mdgi6  {
    background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
    background-size: cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from { background-position: top; background-size:3000px; }
to { background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from { background-position: top;background-size:3000px; }
to { background-position: -100px 0px;background-size:2750px;}
}

* { font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(133, 228, 133); }

h1 { font-size: 25px; }

a {
    text-decoration: none;
    color: white !important;
    font-size: 20px;
}

a:hover {
    color: green !important;
    text-decoration: none;
}

ul { 
    list-style-type: none;
}

li:nth-child(n){ font-size: 18px; }

/* Resume Button */
.st-emotion-cache-kjgucs.e1nzilvr5 {
    color:black;
    font-size: 5px;
}

.st-emotion-cache-kjgucs.e1nzilvr5:hover { color: green !important;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

p { 
    font-weight: 900;
    font-size: 16px;
}

#MainMenu { visibility: hidden;}
header { visibility: hidden;}
footer { visibility: hidden;}

/* Entire Page */
.main.st-emotion-cache-uf99v8.ea3mdgi5{
    display: flex;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(75, 75, 250, 0.3);
    border-radius: 3px;
}
